<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header" class="bg-dark text-white p-4">
    <div class="container">
        <h1>Gimnasio Fitness</h1>
        <p class="mb-0">Entrenamiento, salud y bienestar</p>
    </div>
</header>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" th:href="@{/categoria/inicio}">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuPrincipal">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categoria/listado}">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/servicio/listado}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categoria/contacto}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="bg-dark text-white text-center p-3 mt-5">
    <p class="mb-0">Caso Práctico 1 - Gimnasio Fitness</p>
</footer>

</body>
</html>
